    //
    //  Debug.xcconfig
    //  StudyApp
    //
    //  Created by Rajesh Mani on 13/07/25.
    //

    // Configuration settings file format documentation can be found at:
    // https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
OTHER_SWIFT_FLAGS = $(inherited) \
-Xfrontend -strict-concurrency=complete \
-Xfrontend -warn-concurrency \
-Xfrontend -enable-actor-data-race-checks


//// Config-Debug.xcconfig
//API_HOST = 127.0.0.1:8080
//API_SCHEME = http
//API_KEY = abc123devkey
//ENABLE_LOGGING = YES

// Config-Debug.xcconfig
API_HOST = localhost.charlesproxy.com:9090
API_SCHEME = http
API_KEY = abc123devkey
ENABLE_LOGGING = YES

ENABLE_USER_SCRIPT_SANDBOXING = NO

